@use 'sass:color'; // https://sass-lang.com/documentation/breaking-changes/color-functions/

.search {
  position: relative;
  margin: 3rem 0;

  input[type='text'] {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;

    padding: 1rem 0.5rem;
    font-size: 1.8rem;

    margin-bottom: 1rem;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;

    color: #fff;
    background-color: #26a69a;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;

    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      //   background-color: darken($color: #26a69a, $amount: 10); // darken() is deprecated - https://sass-lang.com/documentation/breaking-changes/color-functions/
      $color: #26a69a;
      background-color: color.adjust($color, $lightness: -10%);
    }
  }

  .radios {
    display: flex;
    gap: 1.5rem;

    label {
      cursor: pointer;
      color: #5e5e5e;
    }

    input {
      cursor: pointer;
      margin-right: 0.5rem;
    }
  }
}
